.navbar {
  background: rgb(80, 185, 170);
}

.input-bg {
  background: rgb(80, 185, 170);
}

.button-form {
  position: relative;
}

.button-inside-form {
  position: absolute;
  bottom: 8%;
  right: 2%;
  background: rgb(174, 244, 236);
}

.time-date-div {
  display: flex;
  justify-content: space-between;
  background: rgb(4, 123, 105);
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.weather-div {
  background: rgb(3, 87, 74);
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
}